{
  "SmtpSettings": {
    "Server": "smtp.gmail.com",
    "Port": "587",
    "Titulo": "Tu Nombre o Empresa",
    "UserName": "tu-email@gmail.com",
    "Password": "tu-contraseña-de-aplicacion"
  },
  "ConnectionStrings": {
    "app_indice_glucemico": "server=localhost;port=3306;uid=tu_usuario;database=app_indice_glucemico;password=tu_contraseña;sslmode=none"
  }
}

